:host {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.viz-container {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--md-sys-color-surface-container-high);
  box-shadow: var(--mat-app-elevation-shadow-level-4);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.viz-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  form {
    flex: 1;
  }
}

.graph-container {
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  position: relative;

  min-width: 300px;
  min-height: 200px;
  max-width: 100vw;
  max-height: 100vh;

  box-sizing: border-box;
  overflow: hidden;
}

.display-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: var(--mat-app-elevation-shadow-level-4);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
  }
}

.graph-legend {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;

  .legend-item {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  .follower {
    background-color: #1f77b4;
  }

  .following {
    background-color: #ff7f0e;
  }

  .bidirectional {
    background-color: #9c27b0;
  }
}
