:root.dark-theme {
  --md-sys-color-background: #111318;
  --md-sys-color-on-background: #e1e2e9;
  --md-sys-color-surface: #111318;
  --md-sys-color-surface-dim: #111318;
  --md-sys-color-surface-bright: #37393e;
  --md-sys-color-surface-container-lowest: #0c0e13;
  --md-sys-color-surface-container-low: #191c20;
  --md-sys-color-surface-container: #1d2024;
  --md-sys-color-surface-container-high: #282a2f;
  --md-sys-color-surface-container-highest: #32353a;
  --md-sys-color-on-surface: #e1e2e9;
  --md-sys-color-surface-variant: #43474e;
  --md-sys-color-on-surface-variant: #c4c6cf;
  --md-sys-color-inverse-surface: #e1e2e9;
  --md-sys-color-inverse-on-surface: #2e3035;
  --md-sys-color-outline: #8e9199;
  --md-sys-color-outline-variant: #43474e;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
  --md-sys-color-surface-tint: #a2c9fe;
  --md-sys-color-primary: #a2c9fe;
  --md-sys-color-on-primary: #00325a;
  --md-sys-color-primary-container: #1c4875;
  --md-sys-color-on-primary-container: #d2e4ff;
  --md-sys-color-inverse-primary: #38608f;
  --md-sys-color-secondary: #a5c8fe;
  --md-sys-color-on-secondary: #00315e;
  --md-sys-color-secondary-container: #214876;
  --md-sys-color-on-secondary-container: #d4e3ff;
  --md-sys-color-tertiary: #a0cafd;
  --md-sys-color-on-tertiary: #003258;
  --md-sys-color-tertiary-container: #194975;
  --md-sys-color-on-tertiary-container: #d1e4ff;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #561e19;
  --md-sys-color-error-container: #73332d;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-neutral: #75777d;
  --md-sys-color-neutral-variant: #74777f;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #a2c9fe;
  --md-sys-color-on-primary-fixed: #001c37;
  --md-sys-color-on-primary-fixed-variant: #1c4875;
  --md-sys-color-secondary-fixed: #d4e3ff;
  --md-sys-color-secondary-fixed-dim: #a5c8fe;
  --md-sys-color-on-secondary-fixed: #001c3a;
  --md-sys-color-on-secondary-fixed-variant: #214876;
  --md-sys-color-tertiary-fixed: #d1e4ff;
  --md-sys-color-tertiary-fixed-dim: #a0cafd;
  --md-sys-color-on-tertiary-fixed: #001d36;
  --md-sys-color-on-tertiary-fixed-variant: #194975;
  --md-sys-color-inverse-secondary: #3b608f;
  --md-sys-color-inverse-tertiary: #36618e;
  --md-sys-color-inverse-error: #904a43;
  --md-sys-color-error-fixed: #ffdad6;
  --md-sys-color-error-fixed-dim: #ffb4ab;
  --md-sys-color-on-error-fixed: #3b0907;
  --md-sys-color-on-error-fixed-variant: #73332d;
}
